<!-- 
<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #dddddd;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      padding: 8px;
    }
    </style> -->
<body>
  
<a routerLink ="/header"  >Go to Header</a>
<a routerLink ="/userForm">Go to UserForm</a>
<a routerLink="/module2/comp2">Go to Comp2</a>
<a routerLink="/module3/comp3">Go to comp3</a>
<a routerLink="/module2/final/comp4">Go to Comp4</a>
<a routerLink="/data-table">Go to MyTable</a>
<a routerLink="/rform">Go to Rform</a>
<a routerLink="/simpleTable">Go to simple-table</a>
<a routerLink="/buildInDir">BuiltInDir</a>
<a routerLink="./rxjsComp">Rxjs Obs</a>
<a routerLink="./httpClient">httpClient</a>
<!-- <app-userForm></app-userForm> -->


<router-outlet />


</body>